@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(255, 200, 219);
}

.slider-wrapper {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}

.slider-wrapper .image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid red;
}

.slider-wrapper .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.slide p {
  text-align: center;
  padding: 0 120px;
  font-size: 15px;
  font-weight: 400;
}

.slide i {
  color: red;
  font-size: 32px;
}

.slide .information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information .name {
  font-size: 15px;
  font-weight: 600;
}

.information .field {
  font-size: 12px;
  font-weight: 400;
}

.button {
  height: 40px;
  width: 40px;
  font-size: 6px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: red;
  transition: 0.2s;
}

.button::after,
.button::before {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

@media screen and (max-width: 768px) {
  .button {
    display: none;
  }
  .slide p {
    padding: 0 25px;
  }
}
